<footer>
<div class="container">
        <div class="footer_top_container">
            <div class="footer_left">
                <img src="images/logotype_white.svg" height="50px" alt="pohat company logotype">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab itaque eum mollitia est blanditiis placeat architecto! Modi enim quas fuga! Nobis fugiat reprehenderit magni, voluptatibus ullam quaerat? Mollitia consectetur a sunt ducimus rem, repudiandae reprehenderit ullam.</p>
                <ul>
                    <li><a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://www.twitter.com"><i id="white" class="fab fa-twitter"></i></a></li>
                    <li><a href="https://www.behance.net/"><i class="fab fa-behance"></i></a></li>
                    <li><a href="https://www.youtube.com"><i class="fab fa-youtube"></i></a></li>
                    <li><a href="https://www.pinterest.com"><i class="fab fa-pinterest"></i></a></li>
                </ul>
            </div>
            <div class="footer_middle">
                <h1>More Links<span class="dot">.</span></h1>
                <table>
                    <tbody>
                        <tr>
                            <td>Paid CEO</td><td class="td_spacer"></td><td>Services</td>
                        </tr>
                        <tr class="spacer"></tr>
                        <tr>
                            <td>Digital Marketing</td><td class="td_spacer"></td><td>Our Team</td>
                        </tr>
                        <tr class="spacer"></tr>
                        <tr>
                            <td>Strategy Planning</td><td class="td_spacer"></td><td>News</td>
                        </tr>
                        <tr class="spacer"></tr>
                        <tr>
                            <td>Offline CEO</td><td class="td_spacer"></td><td>Shop</td>
                        </tr>
                        <tr class="spacer"></tr>
                        <tr>
                            <td>Page Rank Up</td><td class="td_spacer"></td><td>Contact Us</td>
                        </tr>
                        <tr class="spacer"></tr>
                        <tr>
                            <td>User Panel</td><td class="td_spacer"></td><td>Book Appointment</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="footer_right">
                <h1>News Feed<span class="dot">.</span></h1>
                <div class="footer_right_content">
                    <img src="images/square.png" alt="">
                    <p>Lorem ipsum dolor, sit am
                    et consectetur.
                    <span>14 july, 2019</span></p>                     
                </div>
                <div class="footer_right_content">
                    <img src="images/square.png" alt="">
                    <p>Lorem ipsum dolor, sit am
                    et consectetur.
                    <span>14 july, 2019</span></p>
                </div>
                <div class="footer_right_content">
                    <img src="images/square.png" alt="">
                    <p>Lorem ipsum dolor, sit am
                    et consectetur.
                    <span>14 july, 2019</span></p>
                </div>
            </div>
        </div><!--end footer_top_container-->
            <div class="footer_bottom" data-ng-controller="getYear">
                <p>Copyright By&copy;<span data-ng-controller="getYear">NilArtStudio - </span>{{date | date:'yyyy'}}</p>
                <button onclick="topFunction()" id="myBtn">back to top</button>
            </div>           
    </div>
</footer>