<section class="shipping">
    <div class="container">
    <div class="shipping_container">
        <div class="shipping_box">
            <tr rowspan="2">
            <img src="images/truck.svg" alt="picture on a truck">
            <h4>Free Shipping</h4>
            <p>Orders over $100</p>
        </div>
        <div class="shipping_box">
            <img src="images/clock.svg" alt="picture on a clock">
            <h4>Free Return</h4>
            <p>In 30 days</p>
        </div>
        <div class="shipping_box">
            <img src="images/lock.svg" alt="picture on a lock">
            <h4>100% Secure</h4>
            <p>Shipping</p>
        </div>
        <div class="shipping_box">
            <img src="images/tag.svg" alt="picture on a tag">
            <h4>Best Price</h4>
            <p>Granted</p>
        </div>
    </div>
</div>
</section>