<section class="top_nav" id="top">
    <div class="container_fluid">          
        <div class="top_wrap">
            <div class="social_icons">
                <ul>
                    <li><a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://www.behance.net/"><i class="fab fa-behance"></i></a></li>
                    <li><a href="https://www.pinterest.com"><i class="fab fa-pinterest"></i></a></li>
                    <li><a href="https://www.youtube.com"><i class="fab fa-youtube"></i></a></li>
                    <li><a href="faq.html">FAQ</a></li>
                    <li><a href="terms.html">TERMS</a></li>
                </ul>
            </div>
            <div class="mail_menu">
                <ul>
                    <li><i class="far fa-envelope"></i></li>
                    <li><a href="#">info@webmail.com</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>