<!DOCTYPE html>
<html lang="en" data-ng-app="bookShopApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Angularjs & Backbonejs Inlämningsuppgift 3</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <!-- <link rel="stylesheet" href="scss/style.css"> -->


     <!-- ANGULAR JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular-cookies.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>

    <!-- MY SCRIPTS -->
    <script src="script.js"></script>
</head>
<body>
<!-- START MODAL -->
    <div class="modal fade" id="shoppingCartModal" tabindex="-1" role="dialog" aria-labelledby="shoppingCartModalLabel" aria-hidden="true" data-ng-controller="homeController">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="shoppingCartModalLabel">Varukorgen</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="mt-5">
                            <p>{{ emptycart }}</p>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="spacer"></th><th>Antalböcker</th><th>Författare</th><th>Titel</th><th>Pris</th>
                                    </tr>                              
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="product in cart">
                                        <td><img class="shoppingcart_image" data-ng-src="{{ product.image_urls }}"></td><td>{{ product.quantity }} st</td><td>{{ product.author }}</td><td>{{ product.title }}</td><td>{{ getProductCost(product) }} kr</td><td><button class="btn btn-link remove-item" data-ng-click="removeItem(product)"><i class="fas fa-trash-alt"></i></button></td>
                                    </tr>
                                </tbody>
                            </table>
                            <h4 class="mt-5"><i class="fas fa-shopping-cart"></i> TOTALT: {{ getTotal() }} SEK</h4>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
<!-- END MODAL -->

<!-- START SECTION BOOK DISPLAY -->
    <section class="book_display">
        <div data-ng-view></div>
    </section>
<!-- END SECTION BOOK DISPLAY -->

<!-- BOOTSTRAP SCRIPTS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>